body {
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
  margin: 1% 15%;
}

h1 {
  font-size: 25px;
  color: #303030;
  margin-bottom: 1%;
}

h2 {
  font-size: 18px;
}

h2.error {
  font-size: 20px;
  color: #C00000;
}

h2.temperature {
  font-size: 30px;
  margin: 0%;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 12px;
}

form {
  display: inline-flex;
}

input {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  border-top: 0px;
  border-left: 0px;
  border-width: 0px;
  border-bottom-width: thin;
  outline: 0px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

form.main {
  margin: 25% 0%;
}

form.secondary {
  margin: 5% 0%;
}

form.main input {
  font-size: 18px;
  height: 42px;
  width: 160px;
  padding-top: 10px;
  margin: 0px 5px;
}

form.secondary input{
  font-size: 15px;
  height: 40px;
  width: 130px;
  padding-top: 10px;
  margin: 0px 4px;
}

.title {
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #303030;
  box-shadow: none;
}

.card {
  width: 120px;
  height: 130px;
  padding: 5px;
  align-items: center;
  margin: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(48,48,48, 0.2);
}

.cards {
  align-items: center;
  display: inline-flex;
  padding: 15px 10px;
  background-color: #EDFAFD;
  margin: 5% 0%;
}

.notfound {
  height: 130px;
  padding: 5px;
  margin: 20px;
}
